

@import url('https://fonts.googleapis.com/css?family=Roboto');
.App {
  text-align: center;
  width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root {
    --primary-color: #dc3545;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
}
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}
.search{
    display: flex;
    flex: 1;
    padding:6px;
  
  }
  .search input{
    border-radius: 30px;
    height: 30px;
    width: 300px;
    padding: 10px;
    background-color: #fee2e2;
  }
  .ss{
    display: flex;
    flex: 4.5;
  }

